.article-link-container {
	max-width: 600px;
	background: #FFFFF4;
	border-radius: 25px;
	border: 1px solid grey;
	padding: 10px;
	display: flex;
}

.article-link-description {
	padding-left: 20px;
}

.article-link-description-text {
	color: black;
}

.article-link a {
	text-decoration: none;
}
