.article-link {
	text-decoration: none;
}

.article-link-container {
	max-width: 600px;
	border-radius: 25px;
	border: 1px solid grey;
	padding: 10px;
	display: flex;
}

.article-link-description {
	padding-left: 20px;
}
