{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "babel-plugin-root-import"
  ],
  "env": {
    "test": {
      "presets": [["next/babel", { "preset-env": { "modules": "commonjs" } }]]
    }
  }
}
