{
  "extends": "fbjs-opensource",
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/jsx-space-before-closing": "off",
    "react/jsx-tag-spacing": "off",
    "react/jsx-closing-bracket-location": ["error", "tag-aligned"]
  }
}
