.ogm-movie-video {
  position: relative;

  width: 100%;
}

.ogm-movie-video-player {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
}

.ogm-movie-heading {
  position: relative;

  box-sizing: border-box;
  padding-right: 144px;
  width: 100%;
}

.ogm-movie-heading-text {
  margin: 16px 0;

  line-height: 36px;
}
